{% extends 'base.html'%}

{% block content %}
    <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">闲置表单</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form class="form-horizontal" href="#" method="post">
            {% csrf_token %}
              <div class="box-body ">
                  {% for field in form %}
                    <div class="form-group">
                        <label for="{{ field.name }}" class="col-sm-2 control-label">{{ field.label }}</label>
                        <div class="col-sm-8">
                            {% if field.errors %}
                              <button type="button" class="btn btn-block btn-danger btn-xs">{{ field.errors }}</button>
                            {% endif %}

                            {{ field }}
                        </div>
                    </div>
                  {% endfor %}
              </div>
              <!-- /.box-body -->
              <div class="box-footer">
                <button type="submit" class="btn btn-info pull-right">修改闲置</button>
              </div>
              <!-- /.box-footer -->
            </form>
          </div>
{% endblock %}