{% extends 'index.html' %}

{% load humanize %}

{% block css %}
<link rel="stylesheet" href="/static/plugins/original-master/style.css">
    <link href="/static/plugins/classimax.v-1/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet">
  <link href="/static/plugins/classimax.v-1/plugins/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/plugins/classimax.v-1/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/static/plugins/classimax.v-1/plugins/slick-carousel/slick/slick.css" rel="stylesheet">
  <link href="/static/plugins/classimax.v-1/plugins/slick-carousel/slick/slick-theme.css" rel="stylesheet">
  <link href="/static/plugins/classimax.v-1/plugins/fancybox/jquery.fancybox.pack.css" rel="stylesheet">
  <link href="/static/plugins/classimax.v-1/plugins/jquery-nice-select/css/nice-select.css" rel="stylesheet">
  <link href="/static/plugins/classimax.v-1/plugins/seiyria-bootstrap-slider/dist/css/bootstrap-slider.min.css" rel="stylesheet">
  <link href="/static/plugins/classimax.v-1/css/style.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="cart-bg-overlay" style="margin-top:75px"></div>

    <div class="right-side-cart-area" style="margin-top:100px">
        <div class="cart-button">
            <a href="#"><img src="/static/plugins/essence%202/img/core-img/bag.svg" alt=""> <span>3</span></a>
        </div>

        <div class="cart-content d-flex">
            <div class="cart-list">
                <div class="single-cart-item">
                    <a href="#" class="product-image">
                        <img src="/static/plugins/essence%202/img/product-img/product-1.jpg" class="cart-thumb" alt="">
                        <div class="cart-item-desc">
                          <span class="product-remove"><i class="fa fa-close" aria-hidden="true"></i></span>
                            <span class="badge">Mango</span>
                            <h6>Button Through Strap Mini Dress</h6>
                            <p class="size">Size: S</p>
                            <p class="color">Color: Red</p>
                            <p class="price">$45.00</p>
                        </div>
                    </a>
                </div>

                <div class="single-cart-item">
                    <a href="#" class="product-image">
                        <img src="/static/plugins/essence%202/img/product-img/product-2.jpg" class="cart-thumb" alt="">
                        <div class="cart-item-desc">
                          <span class="product-remove"><i class="fa fa-close" aria-hidden="true"></i></span>
                            <span class="badge">Mango</span>
                            <h6>Button Through Strap Mini Dress</h6>
                            <p class="size">Size: S</p>
                            <p class="color">Color: Red</p>
                            <p class="price">$45.00</p>
                        </div>
                    </a>
                </div>

                <div class="single-cart-item">
                    <a href="#" class="product-image">
                        <img src="/static/plugins/essence%202/img/product-img/product-3.jpg" class="cart-thumb" alt="">
                        <div class="cart-item-desc">
                          <span class="product-remove"><i class="fa fa-close" aria-hidden="true"></i></span>
                            <span class="badge">Mango</span>
                            <h6>Button Through Strap Mini Dress</h6>
                            <p class="size">Size: S</p>
                            <p class="color">Color: Red</p>
                            <p class="price">$45.00</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <section class="single_product_details_area d-flex align-items-center">

                {% for good in goods %}
    <div class="container">
         <div class="row">
              <div class="col-10 col-md-4 col-lg-5 ">
              <img src={{ good.good_photo.url }} width="100%" height="auto">
              </div>
                {% endfor %}

        {% for good in goods %}
            <div class="col-10 col-md-8 col-lg-6">
            <div class="single_product_desc clearfix">

            <a href="#">
                <h2>{{ good.good_name }}</h2>
            </a>
            <p class="product-price"><span class="old-price">
                ￥65.00</span> ￥{{ good.price }}.00</p>
            <p class="product-desc">{{ good.good_description }}</p>
             <span>{{ good.plat }}</span>

                <div class="mt-50 mb-30">
                    {% if good.online == 1 %}
                    包邮
                    {% endif %}
                {% if good.lower == 1 %}
                    可议价
                    {% endif %}
                </div>
        {% if not fav %}
            <div class="cart-fav-box d-flex align-items-center">
                    <button type="submit" class="btn essence-btn">加入收藏</button>
                    <div class="product-favourite ml-4">
                        <a href="/plat/loved_{{ good.id }}" class="favme fa fa-heart"></a>
                    </div>
                </div>
                                {% else %}
            <div class="cart-fav-box d-flex align-items-center">
                    <button type="submit" class="btn essence-btn">取消收藏</button>
                    <div class="product-favourite ml-4">
                        <a href="/plat/unloved_{{ good.id }}" class="favme fa fa-heart"></a>
                    </div>
                </div>
                            {% endif %}


        </div>
            </div>
        </div>
            </div>
    </section>

<div class="single-blog-wrapper section-padding-0-100">
        <div class="container">
            <div class="row">

                <div class="col-12 col-lg-9">
                    <div class="blog-post-author mt-100 d-flex">
                        <div class="author-thumbnail">
                            <img src={{ thisgood.starter.photo.url }} alt="">
                        </div>
                        <div class="author-info">
                            <div class="line"></div>
                            <span class="author-role">发布者</span>
                            <h4><a href="/accounts/user_{{ thisgood.starter.nid }}" class="author-name">{{ thisgood.starter.username }}</a></h4>
                            <p>{{ thisgood.starter.introduce }}</p>
                        </div>
                    </div>
                    <div class="col-12 col-lg-9">
				<div class="product-details" style="margin-top:20px" >
					<div class="product-meta">
						<ul class="list-inline">
							<li class="list-inline-item"><i class="fa fa-user-o"></i> 发布 <a href="">{{ good.starter }}</a></li>
							<li class="list-inline-item"><i class="fa fa-folder-open-o"></i> 类型<a href="">{{ good.plat }}</a></li>
							<li class="list-inline-item"><i class="fa fa-location-arrow"></i> 地址 <a href="">校内</a></li>
						</ul>
					</div>

					<div class="content mt-100 col-md-15">
						<ul class="nav nav-pills  justify-content-center" id="pills-tab" role="tablist">
							<li class="nav-item">
								<a class="nav-link active" id="good_detail-tab" data-toggle="pill" href="#good_detail" role="tab" aria-controls="pills-home" aria-selected="true">闲置详情</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="comment-tab" data-toggle="pill" href="#comment" role="tab" aria-controls="pills-profile" aria-selected="false">评论区</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="similar-tab" data-toggle="pill" href="#similar" role="tab" aria-controls="pills-contact" aria-selected="false">其它相似</a>
							</li>
						</ul>
						<div class="tab-content col-md-24" id="pills-tabContent">
							<div class="tab-pane fade show active" id="good_detail" role="tabpanel" aria-labelledby="good_detail-tab">
								<h3 class="tab-title">闲置详情</h3>
								<p> 这是个物品的详情页 </p>
                                <p>{{ good.good_description }}</p>

							</div>
							<div class="tab-pane fade" id="comment" role="tabpanel" aria-labelledby="comment-tab">
                    <div class="comment_area clearfix mt-10">
                        <h3 class="tab-title">评论区</h3>
                        {% for post in post_list %}

                        <ol>
                            <li class="single_comment_area">
                                <div class="comment-content d-flex" style="margin-top:50px">
                                    <div class="comment-author">
                                        <img src={{ post.created_by.photo.url }} alt="">
                                    </div>
                                    <div class="comment-meta">
                                        <a href="#" class="post-date">{{ post.updated_at| naturaltime }}</a>
                                        <p><a href="#" class="post-author">{{ post.created_by }}</a></p>
                                        <p>{{ post.message }}</p>
                                        <a href="#" class="comment-reply">Reply</a>
                                        {% if post.created_by == userdetail %}
                                        <a href=" /plat/delpost_{{ post.id }}" class="comment-reply">Delete</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </li>
                        </ol>

                            {% empty %}
                                <p>暂无对该闲置的评论</p>
                            {% endfor %}
                    </div>

							</div>
							<div class="tab-pane fade" id="similar" role="tabpanel" aria-labelledby="similar-tab">
								<h3 class="tab-title">其它相似</h3>
								<div class="product-review">
							  		<img src="/static/plugins/original-master/img/bg-img/b7.jpg" alt="author">
							  	</div>
							</div>
						</div>
					</div>
				</div>
			</div>



                    <div class="post-a-comment-area mt-70">
                        <h5>发表你的评论</h5>
                        <form method="post" href="good_details.html">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-12">
                                    <div class="group">
                                        <textarea name="message" id="message" required></textarea>
                                        <span class="highlight"></span>
                                        <span class="bar"></span>
                                        <label>在这里发表你的评论</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button type="submit" class="btn original-btn">Reply</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="col-12 col-md-4 col-lg-3">
                    <div class="post-sidebar-area">
                        <div class="widget disclaimer">
						<h5 class="widget-header">安全提示</h5>
						<ul>
							<li>1.当面交易时选择空旷地方</li>
							<li>2.在交易完成前检查物品</li>
							<li>3.确定交易无误才付款</li>
						</ul>
					</div>

                        <div class="widget rate">
						<!-- Heading -->
						<h5 class="widget-header text-center">为这件闲置
						<br>
						打分</h5>
						<!-- Rate -->
						<div class="starrr"></div>
					</div>

                        <div class="sidebar-widget-area">
                            <h5 class="title">她最近发布的闲置</h5>

                            <div class="widget-content">

                                {% for good in user_goods %}

                                <div class="single-blog-post d-flex align-items-center widget-post">
                                    <!-- Post Thumbnail -->
                                    <div class="post-thumbnail">
                                        <img src={{ good.good_photo.url}}>
                                    </div>
                                    <!-- Post Content -->
                                    <div class="post-content">
                                        <a href="#" class="post-tag">{{ good.plat }}</a>
                                        <h4><a href="/plat/good_{{ good.id }}/" class="post-headline">{{ good.good_name }}</a></h4>
                                        <div class="post-meta">
                                            <p><a href="#">{{ good.last_updated | naturaltime}}</a></p>
                                        </div>
                                    </div>
                                </div>
                                    {% empty %}
                                <p>暂无其他闲置</p>
                            {% endfor %}
                            </div>
                        </div>

                        <div class="sidebar-widget-area">
                            <h5 class="title">标签</h5>
                            <div class="widget-content">
                                <ul class="tags">
                                    <li><a href="#">design</a></li>
                                    <li><a href="#">fashion</a></li>
                                    <li><a href="#">travel</a></li>
                                    <li><a href="#">music</a></li>
                                    <li><a href="#">party</a></li>
                                    <li><a href="#">video</a></li>
                                    <li><a href="#">photography</a></li>
                                    <li><a href="#">adventure</a></li>
                                </ul>
                            </div>
                        </div>
					<!-- Safety tips widget -->

                    </div>
                </div>
            </div>
        </div>
            </div>
            <div class="instagram-feed-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="insta-title">
                        <h5>hi and welcome</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="instagram-slides owl-carousel">
            <!-- Single Insta Feed -->
            <div class="single-insta-feed">
                <img src="img/instagram-img/1.png" alt="">
                <!-- Hover Effects -->
                <div class="hover-effects">
                    <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

{% endblock %}
{% block js %}
    <script src="/static/plugins/original-master/js/jquery/jquery-2.2.4.min.js"></script>
    <script src="/static/plugins/original-master/js/popper.min.js"></script>
    <script src="/static/plugins/original-master/js/bootstrap.min.js"></script>
    <script src="/static/plugins/original-master/js/plugins.js"></script>
    <script src="/static/plugins/original-master/js/active.js"></script>
  <script src="/static/plugins/classimax.v-1/plugins/tether/js/tether.min.js"></script>
  <script src="/static/plugins/classimax.v-1/plugins/raty/jquery.raty-fa.js"></script>
  <script src="/static/plugins/classimax.v-1/plugins/bootstrap/dist/js/popper.min.js"></script>
  <script src="/static/plugins/classimax.v-1/plugins/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/static/plugins/classimax.v-1/plugins/seiyria-bootstrap-slider/dist/bootstrap-slider.min.js"></script>
  <script src="/static/plugins/classimax.v-1/plugins/slick-carousel/slick/slick.min.js"></script>
  <script src="/static/plugins/classimax.v-1/plugins/jquery-nice-select/js/jquery.nice-select.min.js"></script>
  <script src="/static/plugins/classimax.v-1/plugins/fancybox/jquery.fancybox.pack.js"></script>
  <script src="/static/plugins/classimax.v-1/plugins/smoothscroll/SmoothScroll.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCC72vZw-6tGqFyRhhg5CkF2fqfILn2Tsw"></script>
  <script src="/static/plugins/classimax.v-1/js/scripts.js"></script>

{% endblock %}
