{% extends 'index.html' %}

{% block content %}

    <div class="cart-bg-overlay"></div>

    <div class="right-side-cart-area">

        <!-- Cart Button -->
        <div class="cart-button">
            <a href="#" id="rightSideCart"><img src="/static/plugins/essence%202/img/core-img/bag.svg" alt=""> <span>3</span></a>
        </div>

        <div class="cart-content d-flex">

            <!-- Cart List Area -->
            <div class="cart-list">
                <!-- Single Cart Item -->
                <div class="single-cart-item">
                    <a href="#" class="product-image">
                        <img src="/static/plugins/essence%202/img/product-img/product-1.jpg" class="cart-thumb" alt="">
                        <!-- Cart Item Desc -->
                        <div class="cart-item-desc">
                          <span class="product-remove"><i class="fa fa-close" aria-hidden="true"></i></span>
                            <span class="badge">Mango</span>
                            <h6>Button Through Strap Mini Dress</h6>
                            <p class="size">Size: S</p>
                            <p class="color">Color: Red</p>
                            <p class="price">$45.00</p>
                        </div>
                    </a>
                </div>

                <!-- Single Cart Item -->
                <div class="single-cart-item">
                    <a href="#" class="product-image">
                        <img src="/static/plugins/essence%202/img/product-img/product-2.jpg" class="cart-thumb" alt="">
                        <!-- Cart Item Desc -->
                        <div class="cart-item-desc">
                          <span class="product-remove"><i class="fa fa-close" aria-hidden="true"></i></span>
                            <span class="badge">Mango</span>
                            <h6>Button Through Strap Mini Dress</h6>
                            <p class="size">Size: S</p>
                            <p class="color">Color: Red</p>
                            <p class="price">$45.00</p>
                        </div>
                    </a>
                </div>

                <!-- Single Cart Item -->
                <div class="single-cart-item">
                    <a href="#" class="product-image">
                        <img src="/static/plugins/essence%202/img/product-img/product-3.jpg" class="cart-thumb" alt="">
                        <!-- Cart Item Desc -->
                        <div class="cart-item-desc">
                          <span class="product-remove"><i class="fa fa-close" aria-hidden="true"></i></span>
                            <span class="badge">Mango</span>
                            <h6>Button Through Strap Mini Dress</h6>
                            <p class="size">Size: S</p>
                            <p class="color">Color: Red</p>
                            <p class="price">$45.00</p>
                        </div>
                    </a>
                </div>
            </div>

            <!-- Cart Summary -->
            <div class="cart-amount-summary">

                <h2>Summary</h2>
                <ul class="summary-table">
                    <li><span>subtotal:</span> <span>$274.00</span></li>
                    <li><span>delivery:</span> <span>Free</span></li>
                    <li><span>discount:</span> <span>-15%</span></li>
                    <li><span>total:</span> <span>$232.00</span></li>
                </ul>
                <div class="checkout-btn mt-100">
                    <a href="#" class="btn essence-btn">我的闲置</a>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Right Side Cart End ##### -->

    <!-- ##### Breadcumb Area Start ##### -->
    <div class="breadcumb_area bg-img" style="background-image: url(/static/plugins/essence%202/img/bg-img/breadcumb.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="page-title text-center">
                        <h2>我的闲置</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="checkout_area section-padding-80">
        <div class="container">
            <div class="box-body">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th>闲置名称</th>
                    <th>闲置内容</th>
                  <th>浏览数</th>
                    <th><center> 操作
                    </center></th>
                </tr>
                </thead>
                <tbody>
                {% for good in goods %}
                <tr>
                    <td>{{ good.good_name }}</td>
                    <td>{{ good.good_description }}</td>
                <td> {{ good.views }}</td>

                    <td>
                        <center>
                        <a class="btn btn-primary btn-xs" href="/plat/edit_{{ good.id }}/">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>编辑
                    </a>

                        <a class="btn btn-primary btn-xs" href="#" onclick="confirm_delete()">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>删除
                    </a>
                            <a class="btn btn-primary btn-xs" href="/plat/good_{{ good.id }}/">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>详情
                    </a>
                        </center>
                        </td>
                    {% endfor %}
                </tr>
                </tbody>
              </table>
            </div>
        <div class="box-footer clearfix">
              <ul class="pagination pagination-sm pull-right">
               {{ page_str }}
           </ul>
           </div>
        </div>
    </div>
{% endblock %}