<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">

    <title>{% block title %}Welcome to GDUT fleamarket!{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="/static/css/category.css">
      <link rel="stylesheet" type="text/css" href="/static/css/profile.css">
      <link rel="stylesheet" type="text/css" href="/static/css/search.css">

    <!--<link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.css">-->
      <!--<link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css">-->
      <!--<link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap-theme.css">-->
      <!--<link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap-theme.min.css">-->

  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">welcome!</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">GDUT Flea Market</a>


        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
               <li>
                   <div class="search-box-wr ease2">
                    <form class="search-box center" action="#" method="get">
                        <button type="submit" class="search-submit">搜索</button>
                        <div class="input-wr">
                            <img class="search-icon" src="static/images/search.png"/>
                            <div class="search-input">
                            <input name="keyword" id="keyword"  type="text" placeholder="搜索你想要的闲置物品"/>
                            </div>
                        </div>
                    </form>
                   </div>
               </li>

                <li><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="{% url 'logout' %}?next=/rango/">Logout</a></li>
                        <li><a href="{% url 'login' %}">Login</a></li>
              </ul>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
                hi
        </div>
        <div class="col-sm-7 col-sm-offset-3 col-md-7 col-md-offset-2 main">
           <div>
                {% block body_block %}{% endblock %}
                </div>
        </div>


        <div class="col-sm-2 col-sm-offset-10 col-md-3 col-md-offset-9 sidebar">
           <div>
                 {% block right_block %}{% endblock %}
            </div>
        </div>


      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
  </body>
</html>
