{% extends 'myself.html' %}
{% block right %}
			<div class="col-md-10 offset-md-1 col-lg-8 offset-lg-0">
				<!-- Recently Favorited -->
				<div class="widget dashboard-container my-adslist">
					<h3 class="widget-header">我收藏的</h3>

					<table class="table table-responsive product-dashboard-table">
						<thead>
							<tr>
								<th>闲置</th>
								<th>闲置描述</th>
								<th class="text-center">所属闲置类</th>
								<th class="text-center">可操作</th>
							</tr>
						</thead>
						<tbody>



							<tr>
								<td class="product-thumb">
									<img width="80px" height="auto" src="/static/plugins/classimax.v-1/images/products/products-1.jpg" alt="image description"></td>
								<td class="product-details">
									<h3 class="title">Macbook Pro 15inch</h3>
									<span class="add-id"><strong>Ad ID:</strong> ng3D5hAMHPajQrM</span>
									<span><strong>Posted on: </strong><time>Jun 27, 2017</time> </span>
									<span class="status active"><strong>Status</strong>Active</span>
									<span class="location"><strong>Location</strong>Dhaka,Bangladesh</span>
								</td>
								<td class="product-category"><span class="categories">Laptops</span></td>
								<td class="action" data-title="Action">
									<div class="">
										<ul class="list-inline justify-content-center">
											<li class="list-inline-item">
												<a data-toggle="tooltip" data-placement="top" title="Tooltip on top" class="view" href="">
													<i class="fa fa-eye"></i>
												</a>		
											</li>
											<li class="list-inline-item">
												<a class="edit" href="">
													<i class="fa fa-pencil"></i>
												</a>		
											</li>
											<li class="list-inline-item">
												<a class="delete" href="">
													<i class="fa fa-trash"></i>
												</a>
											</li>
										</ul>
									</div>
								</td>
							</tr>




						</tbody>
					</table>

					
				</div>
			</div>
		</div>
		<!-- Row End -->
	</div>
	<!-- Container End -->
</section>
{% endblock %}

{% block js %}
  <script src="/static/plugins/classimax.v-1/plugins/jquery/jquery.min.js"></script>
  <script src="/static/plugins/classimax.v-1/plugins/jquery-ui/jquery-ui.min.js"></script>
  <script src="/static/plugins/classimax.v-1/plugins/tether/js/tether.min.js"></script>
  <script src="/static/plugins/classimax.v-1/plugins/raty/jquery.raty-fa.js"></script>
  <script src="/static/plugins/classimax.v-1/plugins/bootstrap/dist/js/popper.min.js"></script>
  <script src="/static/plugins/classimax.v-1/plugins/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/static/plugins/classimax.v-1/plugins/seiyria-bootstrap-slider/dist/bootstrap-slider.min.js"></script>
  <script src="/static/plugins/classimax.v-1/plugins/slick-carousel/slick/slick.min.js"></script>
  <script src="/static/plugins/classimax.v-1/plugins/jquery-nice-select/js/jquery.nice-select.min.js"></script>
  <script src="/static/plugins/classimax.v-1/plugins/fancybox/jquery.fancybox.pack.js"></script>
  <script src="/static/plugins/classimax.v-1/plugins/smoothscroll/SmoothScroll.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCC72vZw-6tGqFyRhhg5CkF2fqfILn2Tsw"></script>
  <script src="/static/plugins/classimax.v-1/js/scripts.js"></script>

{% endblock %}
